
.tabColor1, .insec1{
    background-color: rgba(220, 47, 47,.2);
    border-color: #dc2f2f;
    color: #dc2f2f;
}
.tabColor2, .insec2{
    background-color: rgba(0, 187, 240,.2);
    border-color: #00bbf0;
    color: #00bbf0;
}
.tabColor3, .insec3{
    background-color: rgba(202, 135, 135,.2);
    border-color: rgb(202, 135, 135);
    color: rgb(202, 135, 135);
    
}
.tabColor4, .insec4{
    background-color: rgba(34, 197, 94,.2);
    border-color: #22c55e;
    color: #22c55e;
}
.tabColor5, .insec5{
    background-color: rgba(137, 113, 208,.2)
    ;
    border-color: #8971d0;
    color: #8971d0;
}
.tabColor6, .insec6{
    background-color: rgba(236, 64, 122,.2);
    border-color: #ec407a;
    color: #ec407a;
}
.tabColor7, .insec7{
    background-color: rgba(255, 143, 0,.2);
    border-color: #ff8f00;
    color: #ff8f00;
}

.tabColor1-active{
    background-color: rgba(220, 47, 47,1);
    
}
.tabColor2-active{
    background-color: rgba(0, 187, 240,1);
    
}
.tabColor3-active{
    background-color: rgb(202, 135, 135);
    
    
}
.tabColor4-active{
    background-color: rgba(34, 197, 94,1);
    
}
.tabColor5-active{
    background-color: rgba(137, 113, 208,1)
    ;
    
}
.tabColor6-active{
    background-color: rgba(236, 64, 122,1);
    
}
.tabColor7-active{
    background-color: rgba(255, 143, 0,1);
    
}
.tab-active{
    /* color: rgb(15 23 42); */
    color: white;
}

.tabColor1:hover{
    
  box-shadow: inset 0 -100px 0 0 rgba(220, 47, 47,1);
}
.tabColor2:hover{
    
  box-shadow: inset 0 -100px 0 0 rgba(0, 187, 240,1);
}
.tabColor3:hover{
    
  box-shadow: inset 0 -100px 0 0  rgb(202, 135, 135);
}
.tabColor4:hover{
    
  box-shadow: inset 0 -100px 0 0 rgba(34, 197, 94,1);
}
.tabColor5:hover{
    
  box-shadow: inset 0 -100px 0 0 rgba(137, 113, 208,1);
}
.tabColor6:hover{
    
  box-shadow: inset 0 -100px 0 0  rgba(236, 64, 122,1);
}
.tabColor7:hover{
    
  box-shadow: inset 0 -100px 0 0 rgba(255, 143, 0,1);
}

.tabtran-tabColor1{
    
  box-shadow: inset 0 0 0 0 rgba(220, 47, 47,1);
  
}
.tabtran-tabColor2{
    
    box-shadow: inset 0 0 0 0 rgba(0, 187, 240,1);
    
  }
  .tabtran-tabColor3{
    
    box-shadow: inset 0 0 0 0  rgb(202, 135, 135);
    
  
    
  }
  .tabtran-tabColor4{
    
    box-shadow: inset 0 0 0 0 rgba(34, 197, 94,1);
    
  }
  .tabtran-tabColor5{
      
      box-shadow: inset 0 0 0 0 rgba(137, 113, 208,1);
      
    }
    .tabtran-tabColor6{
      
      box-shadow: inset 0 0 0 0  rgba(236, 64, 122,1);
      
    }
    .tabtran-tabColor7{
      
        box-shadow: inset 0 0 0 0 rgba(255, 143, 0,1);
        
      }
      .tran{
        transition: ease-out 0.5s;
      }