@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Tiro+Gurmukhi:ital@0;1&display=swap');


body {
  margin: 0;
  background-color: rgb(15, 23, 41);
}

.cont-box{
  /* border: 2px solid red;*/
  border-radius: 1em;
  background-clip: padding-box;
  margin: 1em;
  height: 65vh;
  text-align: center;
  /* backdrop-filter: blur(4px); */
  /* opacity: 20%; */
  backdrop-filter: blur(4px);
}

.inner-container::-webkit-scrollbar {
  width: 12px;
}

.inner-container::-webkit-scrollbar-track {
  background: transparent;
}

.inner-container::-webkit-scrollbar-thumb {
  background: #55555583;
  border-radius: 10px; /* Apply border radius to the scrollbar thumb */
}

.inner-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.text-logo{
   letter-spacing: .1em;
   font-family: "Noto Sans", sans-serif;
   font-size: 150px;
   font-weight: bold;
   
   /* background-image: linear-gradient(
	to right,
	#462523 0,
       	#cb9b51 22%, 
	#f6e27a 45%,
	#f6f2c0 50%,
	#f6e27a 55%,
	#cb9b51 78%,
	#462523 100%
	); */
  color: aliceblue;
}